/* Font family */

$font-main: 'Inter', sans-serif;


/* Font Sizing */

$font-captionXS: 0.8333rem;     // 10pt
$font-caption: 1rem;            // 12pt
$font-body2: 1.1667rem;         // 14pt
$font-body1: 1.3333rem;         // 16pt
$font-h6: 1.6667rem;            // 20pt
$font-h5: 2rem;                 // 24pt
$font-h4: 2.6667rem;            // 32pt


/* Font weight */

$font-w-title: bold;
